body{

background:#0b0b0b;

color:white;

font-family:Arial;

text-align:center;

margin:0;

padding:0;

}

.navbar{

padding:20px;

background:#111;

border-bottom:1px solid gold;

margin-bottom:30px;

}

.navbar a{

margin:15px;

color:gold;

font-weight:bold;

text-decoration:none;

}

.container{

width:550px;

max-width:90%;

margin:40px auto;

padding:40px;

background:#171717;

border-radius:20px;

box-shadow:0 0 30px rgba(255,215,0,.3);

}

img{

width:320px;

border-radius:20px;

border:2px solid gold;

box-shadow:0 0 30px rgba(255,215,0,.5);

}

h1{

color:#FFD700;

}

h2{

color:white;

}

p{

color:#ddd;

}

.card{

padding:20px;

margin-top:20px;

background:#111;

border:1px solid gold;

border-radius:15px;

box-shadow:0 0 15px rgba(255,215,0,.2);

transition:.3s;

}

.card:hover{

transform:translateY(-5px);

box-shadow:0 0 25px gold;

}

button{

width:90%;

padding:14px;

background:#FFD700;

color:black;

border:none;

border-radius:12px;

font-size:17px;

font-weight:bold;

cursor:pointer;

transition:.3s;

}

button:hover{

background:#ffcc00;

}

button:disabled{

background:gray;

cursor:not-allowed;

opacity:.6;

}

input,
textarea{

width:90%;

padding:12px;

margin:10px;

border:none;

border-radius:10px;

background:#222;

color:white;

}

footer{

margin-top:30px;

padding:20px;

font-size:14px;

color:gray;

}

a{

text-decoration:none;

}
