body{

background:black;

color:white;

text-align:center;

font-family:Arial;

}

img{

width:300px;

border-radius:20px;

}

a{

padding:15px;

background:#FFD700;

color:black;

border-radius:20px;

text-decoration:none;

}
.container{

width:400px;

margin:auto;

padding:40px;

background:#1b1b1b;

border-radius:20px;

box-shadow:0 0 20px gold;

}

input{

width:90%;

padding:15px;

margin:10px;

border:none;

border-radius:10px;

background:#333;

color:white;

}

button{

padding:15px;

width:95%;

background:#FFD700;

border:none;

border-radius:20px;

font-size:18px;

cursor:pointer;

}

.card{

padding:20px;

margin:20px;

background:#111;

border:1px solid gold;

border-radius:20px;

box-shadow:0 0 20px gold;

}
button{

background:#FFD700;

color:black;

padding:12px;

border:none;

border-radius:10px;

font-size:16px;

cursor:pointer;

margin-top:10px;

}

button:hover{

background:#ffcc00;

}
textarea{

width:90%;

padding:10px;

border-radius:10px;

background:#222;

color:white;

border:1px solid gold;

}

input[type=file]{

color:white;

margin:10px;

}

label{

font-size:18px;

font-weight:bold;

color:gold;

}
