<!DOCTYPE html>

<html>

<head>

<title>Membership</title>

<link rel="stylesheet"
href="{{ url_for(
'static',
filename='style.css'
) }}">

</head>

<body>

<div class="navbar">

<a href="/">Home</a>

<a href="/membership">Plans</a>

<a href="/payment">Payment</a>

</div>

<div class="container">

<h1>

IndianLisaMyra

</h1>

<h2>

Premium Membership Plans

</h2>

<div class="card">

<h3>

Premium Membership

</h3>

<p>

✔ Priority Access

</p>

<p>

✔ Verified Members

</p>

<p>

✔ Secure Payment

</p>

<p>

✔ Instant Activation

</p>

<h1>

₹3000

</h1>

<a href="/payment">

<button>

Buy Now

</button>

</a>

</div>

<br>

<div class="card">

<h3>

Basic Membership

</h3>

<p>

✔ Premium Access

</p>

<p>

✔ Fast Support

</p>

<p>

✔ Verification

</p>

<h1>

₹2000

</h1>

<a href="/payment">

<button>

Buy Now

</button>

</a>

</div>

</div>

<footer>

<p>

Exclusive Membership Platform

</p>

<p>

© 2026 IndianLisaMyra

</p>

</footer>

</body>

</html>
