<!DOCTYPE html>

<html>

<head>

<title>Membership</title>

<link rel="stylesheet"
href="{{ url_for(
'static',
filename='style.css'
) }}">

</head>

<body>

<div class="container">

<h1>

IndianLisaMyra

</h1>

<h2>

Premium Membership Plans

</h2>

<div class="card">

<h3>

Premium Plan

</h3>

<p>

Exclusive Access

</p>

<p>

Priority Support

</p>

<p>

Secure Platform

</p>

<h1>

₹3000

</h1>

<a href="/payment">

<button>

Buy Now

</button>

</a>

</div>

<br>

<div class="card">

<h3>

Basic Plan

</h3>

<p>

Member Benefits

</p>

<p>

Private Access

</p>

<p>

Premium Experience

</p>

<h1>

₹2000

</h1>

<a href="/payment">

<button>

Buy Now

</button>

</a>

</div>

</div>

</body>

</html>
