<!DOCTYPE html>

<html>

<head>

<title>Membership</title>

<link rel="stylesheet"
href="{{ url_for('static',
filename='style.css') }}">

</head>

<body>

<div class="container">

<h1>IndianLisaMyra</h1>

<h2>Premium Services</h2>

<div class="card">

<h3>🎥 Video Call</h3>

<h1>₹3000</h1>

<a href="/payment">

<button>

Buy Now

</button>

</a>

</div>

<br>

<div class="card">

<h3>🎧 Audio Call</h3>

<h1>₹2000</h1>

<a href="/payment">

<button>

Buy Now

</button>

</a>

</div>

</div>

</body>

</html>
