<!DOCTYPE html>

<html>

<head>

<title>Register</title>

<link rel="stylesheet"
href="{{ url_for('static',
filename='style.css') }}">

</head>

<body>

<div class="container">

<h1>IndianLisaMyra</h1>

<h2>Premium Registration</h2>

<form method="POST">

<input
name="name"
type="text"
placeholder="Full Name"
required>

<input
name="email"
type="email"
placeholder="Email"
required>

<input
name="phone"
type="text"
placeholder="Phone Number"
required>

<button
type="submit">

Register

</button>

</form>

</div>

</body>

</html>>
