<!DOCTYPE html>

<html>

<head>

<title>Payment Success</title>

<link rel="stylesheet"
href="{{ url_for(
'static',
filename='style.css'
) }}">

</head>

<body>

<div class="container">

<h1>

Payment Submitted

</h1>

<h2>

Verification Pending

</h2>

<p>

Payment Request Received

</p>

<p>

Status : Pending Verification

</p>

<p>

Estimated Processing Time

</p>

<h3>

24 Hours

</h3>

<a href="/">

<button>

Back To Home

</button>

</a>

</div>

<footer>

<p>

Thank You For Joining

</p>

<p>

© 2026 IndianLisaMyra

</p>

</footer>

</body>

</html>
